* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
body{
  max-width: 1920px;
  max-height: 1080px;
}
div{
  display: block;
}
h1, h6 {
  font-family: "Shrikhand", "Roboto", sans-serif;
  }
body, html {
  font-family: 'Roboto', sans-serif;
  }
a {
  text-decoration: none;
  color: #000;
  }
li {
  list-style-type: none;
  }
h2 {
  margin: 0;
  }
h6 {
  margin: 0;
  }


.loader__utensils{
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: rotate 1s linear infinite;
}
  

.logo{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo h1 {
  text-align: center;
  }
header{
  display: block;
}
.arrow {
  position: absolute;
  left: 20px;
}

