@media screen and (max-width: 816px){
.main__restaurant {
    flex-direction: column;
    width: 100%;
    }
.card {
     width: 100%;
     max-width: 100%;
}
.card img {
    height: 10em ;
         }
}

